* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "Raleway", sans-serif;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #000000;
}

section {
    margin: 100px auto;
}

.banner {
    padding-top: 60px;
    height: 605px;
    border-bottom: 1px solid #33ABDB;
    background-image: linear-gradient(rgba(0, 0, 0, 1),
            rgba(49, 168, 221, 0)), url('../assets/images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-content {
    width: 600px;
    color: white;
    text-align: center;
    margin: auto;

}

.logo {
    width: 268px;
    height: 268px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;

}

.logo img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner-content h1 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 50px;
    text-transform: uppercase;
    color: #33A8DB;
    background: -webkit-linear-gradient(#33A8DB, #1572b7);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner-content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23.48px;
    text-align: center;
    color: #fFFFFF;
    margin: 16px 0 24px;
}

.banner-content button {
    width: 326px;
    height: 57px;
    border: 2px solid #3BA1CD;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    padding: 16px 32px;
    font-weight: 900;
    font-size: 1rem;
    line-height: 18.78px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    color: #31A8DD;
    cursor: pointer;
    background-color: transparent;
    
}

#course-content {
    width: 800px;
    text-align: center;
}

#course-content h2 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 37.57px;
    letter-spacing: 4px;
    color: #33A8DB;
    margin-bottom: 24px;
}

#course-content p {
    color: #FFFFFF;
}

.modules-list {
    margin: 24px 0;
}

.module {
    width: 530px;
    border: 2px solid #31A8DD;
    margin: 0 auto 24px;
    padding: 16px;
    border-radius: 100px;
    background-color: #292828;
    color: #fFFFFF;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, 0.7);
}

.module span {
    color: #31A8DD;
    font-size: 20px;
}

#transform-world{
    height: 560px;
    background-image: url("../assets/images/woman-code.png");
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB;
    border-bottom: 1px solid #33A8DB;
    padding: 200px;
}

#transform-world p{
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
    color: #fFFFFF;
}

#professional-challenges{
    text-align: center;
    width: 800px;
}
#professional-challenges img{
    margin: 32px 0;
}

footer{
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, 0.0), rgba(50,168,219, 0.2));
    border-top: 1px solid #31A8DD;
}
footer .dio-logo{
    width: 300px;
}
footer a{
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
}
footer p{
    color: #fFFFFF;
}
